<h2> the following errors prevented the applicaiton from running </h2>
<% if @article.errors.any? %>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <%-#li tag because there can be more than 1 errors-%>
            <li><%=msg %></li>                             
        <% end %>
    </ul>
<% end %>

<%= form_for @article do |f| %>
    <h1>                                                          
        <%= f.label :title %> <br/>
        <%= f.text_field :title %>
    </h1>
    <h1>                                                          
        <%= f.label :description %> <br/>
        <%= f.text_area :description %>
    </h1>
    <h1>                                                          
        <%= f.submit %> <br/>
    </h1>


<% end %>

<%= link_to "Go back to articles page", articles_path %>