<%= render 'shared/errors' , obj: @article %>   
<div class = 'row'>
    <div calss = 'col-md-12'>
        <% if logged_in? && current_user == @article.user %>
            <%-#form for helper - we already haev it so we willnt include form-horizebtal-%>
            <%= form_for(@article, :html => {class: "form-horizontal" , role: "form"}) do |f| %>
                <div class="form-group">
                    <div class="control-label col-sm-2 ">
                                                                        
                    <%= f.label :title %>
                    
                    </div>
                    <div class="col-sm-8">
                        <%= f.text_field :title, class:"form-control" , placeholder: "Title of article", autofocus: true %>
                    </div>
                </div>    
                <div class="form-group">
                    <div class="control-label col-sm-2 ">     

                    <%= f.label :description %> 

                    </div>
                    <div class="col-sm-8">
                    <%= f.text_area :description, rows: 10 , class:"form-control" , placeholder: "Description of article", autofocus: true %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 ">                                                       
                        <%= f.submit class: 'btn btn-primary btn-lg' %> 
                    </div>
                </div>


            <% end %>
            <div class= "col-xs-4 col-xs-offset-4">
                [ <%= link_to "Cancel request and Return to articles page", articles_path %> ] 
            </div>
        <% else %>
            <h1 align= "center"> Sorry But -- You first have to login</h1>
            <li align= "center"> <%= link_to  "Log in", login_path %></li>
        <% end %>
    </div>
</div>