<!DOCTYPE html>
<%-#This file should be as clean as possible-%>
<html>
  <head>
    <title>RubyOnRailsPart3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <%-#render message isnt working here, why ?????????? The name was wrong - All is well-%>
    <%= render 'layouts/messages' %>
    <%-#showing all the pages-%>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' -%>
  </body>
</html>
